{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block body %}
<h1>Edit Page</h1>

<form action="{% url 'save' %}" method="POST">{% csrf_token %}
    <input type="text" placeholder="Title of entry..." name="title" value="{{ title }}"><br><br>
    <textarea name="content" style="max-width: auto; max-height: 300px;" placeholder="Markdown content...">{{ content }}</textarea><br><br>
    {% if exists != None %}
        <div>
            <p style="color: red; text-align: center;">{{ title }} already exists.</p>
            <p style="color: red; text-align: center;">Give the entry a different title or ensure it's not already in the wiki</p>
        </div>
    {% endif %}
    <input type="submit" value="Edit Page" name="create">
</form>
{% endblock %}